.news__container {
  display: grid;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 18px;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}

.news__container::-webkit-scrollbar {
  display: none;
}
