.loading-screen__bottom {
  background-image: url("../../../images/pictures/loading-screen-girl.png");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 63%;
}
