@font-face {
  font-family: "Rubik";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("Rubik-Regular.ttf") format("ttf"),
    url("Rubik-Regular.woff") format("woff"),
    url("Rubik-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("Rubik-Medium.ttf") format("ttf"),
    url("Rubik-Regular.woff") format("woff"),
    url("Rubik-Regular.woff2") format("woff2");
}
