.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__input:checked + .switch__slider {
  background-color: #2196f3;
}

.switch__input:focus + .switch__slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch__input:checked + .switch__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
