.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  max-width: 0;
  overflow: hidden;
  z-index: 10;
  transition: max-width .1s linear;
}
